<div class="widget">
    <div class="matchInfo">

        <span>{{ghostName}}</span>
        <span>{{location}}</span>
        <span>{{difficulty}}</span>
    </div>
    <!-- Evidence -->
    <div class="evidenceInfo">

        <span class="fas fa-hand-paper evidenceIcon"></span>
        <span class="fas fa-dot-circle evidenceIcon"></span>
        <span class="fas fa-signal evidenceIcon"></span>
        <span class="fas fa-microphone evidenceIcon"></span>
        <span class="fas fa-book evidenceIcon"></span>
        <span class="fas fa-thermometer-empty evidenceFound"></span>
    </div>


    <!-- Objectives -->
    <div class="objectiveInfo">
        <span class="fas fa-camera"></span>
        <span class="fa fa-bone"></span>

        <!-- show all possible ghosts based on evidence -->
        <span class="fas fa-ghost"></span>
    </div>
</div>